<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="frontproyecto-app">
  <template>
    <style>
      :host {
        display: block;
        border: solid blue;
      }

      .redbg {
        background-color: red;
      }

      .greenbg {
        background-color: red;
      }

      .bluebg {
        background-color: blue;
      }

      .greybg {
        background-color: grey;
      }

    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <div  class="row greybg" >
      <div class="col-2 offset-3 redbg"> olomuna </div>
      <div class="col redbg"> olomuna </div>
      <div class="col redbg"> olomuna </div>
      <div class="col redbg"> olomuna </div>
      <div class="col redbg"> olomuna </div>
      <div class="col redbg"> olomuna </div>
    </div>

    <button> Login </button>
    <button> Logout </button>


    <button class="btn btn-primary btn-lg"> Login </button>
    <button> Logout </button>

    <h2>Hello [[prop1]]   [[first_name]]    [[last_name]] !</h2>
    <h2> y tengo [[age]] años </h2>

    <input type="text" value="{{first_name::input}}" />
    <input type="range"  min="18" value="{{age::input}}" max="99" />

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontproyectoApp extends Polymer.Element {
      static get is() { return 'frontproyecto-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'frontproyecto-app ejejeje'
          },
          first_name: {
            type: String,
            value: 'Sergio'
          },
          last_name: {
            type: String,
            value: 'Iglesias'
          },
          age: {
            type: Number,
            value: '90'
          }
        };
      }
    }

    window.customElements.define(FrontproyectoApp.is, FrontproyectoApp);
  </script>
</dom-module>
