<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link href="../../bower_components/paper-loginscreen/paper-loginscreen.html" rel="import" />


<dom-module id="login-usuario">
  <link rel="import" type="css" href="/static/css/login.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>

    <h1>
    Bienvenido a la banca 7.0

    ¿Estás preparado?
    </h1>
    <div class="container">


      <div class="col">
        <div class="hide-md-lg">
          <p>Or sign in manually:</p>
        </div>
Entra
        <input placeholder="email" type="email" value="{{email::input}}"></input>

        <input placeholder="password" type="password" value="{{password::input}}"></input>
        <button on-click="login" style="color:black" class="btn">Login</button>


      </div>

</div>
<div class="bottom-container">
  <div class="row">
    <div class="col">
      <a href="#" style="color:white" class="btn"></a>
    </div>
    <div class="col">
      <a href="#" style="color:white" class="btn">Forgot password?</a>
    </div>
  </div>
</div>




    <iron-ajax
      id="doLogin"
      url="http://127.0.0.1:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="ErrorResponse"
      >
    </iron-ajax>

  </template>

  <script>


    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          isLogged: {
            value: false,
            type: Boolean
          },

          Usuario: {
            type: Array,
            items: {
              type:Object,
              properties: {
                email: {
                  type: String
                },
                passsword:{
                  type:String
                },
                first_name:{
                  type:String
                },
                last_name:{
                  type:String
                },
                logged:{
                  type:Boolean
                },
                userid:{
                  type:Number
                },
                msg:{
                  type:String
                }

              }


            }
          }
        };
      }


    login () {
      console.log("El usuario ha pulsado el botón");

      var usuario = {
        "email" : this.email,
        "password" : this.password
      };
      this.$.doLogin.body = JSON.stringify(usuario);
      this.$.doLogin.generateRequest();
      console.log("Peticion enviadada");

      this.Usuario= usuario;
      console.log(this.Usuario);

    }

    manageAJAXResponse(data){
      console.log("llegamos a los resultados de la api n  22222");
      console.log(data.detail.response);
      this.Usuario=data.detail.response;
      console.log("esto era la respuesta")
      this.isLogged = true;
      window.location = "cuentas";
    }

    ErrorResponse(error){
      console.log("Error");
      console.log(error);
    }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
