<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">


<dom-module id="logout-usuario">
  <link rel="import" type="css" href="/static/css/login.css">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>

[[Usuario.email]]


    <iron-ajax
      id="doLogin"
      auto

      url="http://127.0.0.1:3000/apitechu/v2/logout"
      handle-as="json"
      body='{ "email" : "[[Usuario.email]]"}'
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="ErrorResponse"
      >
    </iron-ajax>

  </template>

  <script>


    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          password: {
            type: String
          },
          email: {
            type: String
          },
          isLogged: {
            value: false,
            type: Boolean
          },

          Usuario: {
            type: Array,
            items: {
              type:Object,
              properties: {
                email: {
                  type: String
                },
                passsword:{
                  type:String
                },
                first_name:{
                  type:String
                },
                last_name:{
                  type:String
                },
                logged:{
                  type:Boolean
                },
                userid:{
                  type:Number
                },
                msg:{
                  type:String
                }

              }


            }
          }
        };
      }


    login () {
      console.log("El usuario ha pulsado el botón");

      var usuario = {
        "email" : this.email,
        "password" : this.password
      };
      this.$.doLogin.body = JSON.stringify(usuario);
      this.$.doLogin.generateRequest();
      console.log("Peticion enviadada");

      this.Usuario= usuario;
      console.log(this.Usuario);

    }

    manageAJAXResponse(data){
      console.log("llegamos a los resultados de la api n  22222");
      console.log(data.detail.response);
      this.Usuario=data.detail.response;
      console.log("esto era la respuesta")
      this.isLogged = true;
      //window.location = "cuentas";
    }

    ErrorResponse(error){
      console.log("Error");
      console.log(error);
    }

    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
