<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel=“import” href=“../../bower_components/iron-ajax/iron-ajax.html”>


<dom-module id="receptor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>Receptor</h1>
    <h2>[[course]] curso</h2>
    <h2>[[year]] año</h2>



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class ReceptorEvento extends Polymer.Element {
      static get is() { return 'receptor-evento'; }
      static get properties() {
        return {
          course : {
            type: String
          },
          year: {
            type: String
          }

        };
      }





    }

    window.customElements.define(ReceptorEvento.is, ReceptorEvento);
  </script>
</dom-module>
