<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link href="../../bower_components/google-apis/google-legacy-loader.html" rel="import" />
<link href="../../bower_components/google-chart/google-chart.html" rel="import" />




<link href="../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html" rel="import" />
<link href="../../bower_components/iron-demo-helpers/demo-snippet.html" rel="import" />
<link href="../../bower_components/iron-icon/iron-icons.html" rel="import" />
<link href="../../bower_components/app-menu-shared-styles.html" rel="import" />

<link href="../../bower_components/app-menu/app-menu.html" rel="import" />
<link href="../../bower_components/app-menu/app-submenu.html" rel="import" />
<link href="../../bower_components/app-menu/app-menu-icon-item.html" rel="import" />



<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">




<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">








<!-- <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script> -->
<!-- <link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html"> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<link rel="import" href="../../bower_components/paper-button/paper-button.html">







<dom-module id="visor-cuentas">
  <link rel="import" type="css" href="/static/css/menu.css">

  <template>
    <brum-global-variable key="userData" value="{{Usuario}}"></brum-global-variable>
    <iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>


    <custom-style>
        <style is="custom-style" include="demo-pages-shared-styles">
        html {
          --app-menu-color: #616161;
          --primary-color: #F62A5A;
          --app-menu-selected-bg-color: rgba(0, 0, 0, 0.05);
        }

        .vertical-section-container {
          max-width: 500px;
        }
        </style>
    </custom-style>


    <style>
      :host {
        display: block;
      }
      th,td {
        border-bottom: 1px solid #ddd;
      }
th {
text-align: right;
}
tr:nth-child(even) {background-color: #f2f2f2;}


tr:hover {background-color: #7baaf7;}

    </style>




<!-- Viendo datos globales
[[[Usuario.logged]]]
[[[Usuario.email]]]
[[[Usuario.userid]]] -->
<!--
<template is="dom-if" if="[[Usuario.logged]]">

  hola estoy dentro


</template>

<template is="dom-if" if="[[!Usuario.logged]]">

  hola NO estoy dentro


</template> -->


    <div style="width:1500px; padding:3px;">

    <div style="width:245px; background:#FFCC00; float:left;">

    <app-menu selected="0">
  <app-submenu>
    <div class="app-menu-item" slot="submenu-trigger">
      <app-menu-icon-item icon="icons:account-balance">Operativa clientela</app-menu-icon-item>
      <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
    </div>
    <app-menu slot="submenu-content">
      <a class="app-menu-item" href="/cuentas">Cuentas</a>
      <a class="app-menu-item" href="/stocks">Stocks</a>
    </app-menu>
  </app-submenu>
    <app-submenu>
      <div class="app-menu-item" slot="submenu-trigger">
        <app-menu-icon-item icon="icons:account-balance">Gestion de clientes</app-menu-icon-item>
        <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
      </div>
      <app-menu slot="submenu-content">
        <a class="app-menu-item" href="/users">Clientes</a>
        <a class="app-menu-item" href="/add_user">Crear cliente</a>

      </app-menu>
    </app-submenu>
    <app-submenu>
      <div class="app-menu-item" slot="submenu-trigger">
        <app-menu-icon-item icon="icons:account-balance">Log out</app-menu-icon-item>
        <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
      </div>
      <app-menu slot="submenu-content">
        <a class="app-menu-item" href="/logout">Log out</a>

      </app-menu>
    </app-submenu>

</app-menu>
</div>





  <!--    <google-chart
    type="table"
    options='{"title": "Inventory", "page": "enable", "pageSize": 4}'
    data=[[accounts]]
           </google-chart>



 <div class="table-responsive"; style="width:845px; float:right;">
   <h2>Hello   [[userid]]  !</h2>


   <h1>Sus cuentas</h1>

   <google-chart
             type = 'table'
             options = '{"title": "Pie Chart", "vAxis": {"minValue" : 0, "maxValue": 8}}'
             data={{accounts}}
    </google-chart>
    </div>
<!--</div>
<div>




</div>

<div> -->
    <!-- <template is="dom-repeat" items="[[accounts]]">
      <h3>IBAN - {{item.IBAN}}</h3>
      <h3>Saldo - {{item.balance}}</h3>
      <h3>Saldo - {{item.MOVS}}</h3>

    </br>
      </template> -->

      <!-- <paper-datatable-column header="Page" property="page">
          <template>
              <paper-input value="{{accounts}}">
          </template>
      </paper-datatable-column>  -->


      <template is="dom-if" if="[[Usuario.logged]]">

        <div style="width:1045px;  height: 900px; background:#b7e1cd; float:right;overflow: auto; ">

<table style="width:100%" class="table"  >
<tr>
  <<th>Borrar cuenta</th>
  <th>Numero</th>

  <th>realizar ingreso</th>
  <th>hacer retirada</th>
  <th>importe</th>
  <th>cuenta</th>

</tr>
      <template is="dom-repeat" items="{{accounts}}">
<tr>
  <th>

    <paper-button raised class="custom indigo" on-click="borrar_cuenta"">
        <iron-icon icon="icons:send"></iron-icon>
        <img src="/static/minus.png" border="0" alt="Link to this page" height="30" width="30">
    </paper-button>
</th>

    <th># [[index]]</th>
    <th><a href="/add_transaction/[[Usuario.userid]]/{{item.IBAN}}/reintegro" target="_blank"><img src="/static/append.png" border="0" alt="Link to this page" height="30" width="30"></a></th>
    <th><a href="/add_transaction/[[Usuario.userid]]/{{item.IBAN}}/retirada" target="_blank"><img src="/static/minus.png" border="0" alt="Link to this page" height="30" width="30"></a></th>

    <th>{{item.balance}} € </th>
    <th>{{item.IBAN}}</th>

</tr>
</template>
</table>
</template>
</div>

    <iron-ajax
      id="getUser"
      auto
      url="http://127.0.0.1:3000/apitechu/v2/accounts/[[Usuario.userid]]"
      handle-as="json"
      on-response="showData" />

      <iron-ajax
        id="doDeleteAccount"
        url="http://127.0.0.1:3000/apitechu/accounts"
        handle-as="json"
        content-type="application/json"
        method="DELETE"
        on-response="manageAJAXResponse"
        on-error="ErrorResponse"
        >
      </iron-ajax>


  </template>

  <script>





    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          accounts: {
            type: Array,
            items: {
              type:Object,
              properties: {
                IBAN: {
                  type: String
                },
                balance:{
                  type:String
                },
                MOVS:{
                  type:String
                }
              }


            }
          },
          Usuario: {
            type: Array,
            items: {
              type:Object,
              properties: {
                email: {
                  type: String
                },
                passsword:{
                  type:String
                },
                first_name:{
                  type:String
                },
                last_name:{
                  type:String
                },
                logged:{
                  type:Boolean
                }

              }


            }
          }
        };
      }


      borrar_cuenta (e){
          console.log(e.model.__data.item.id);
          console.log(e.model.__data.item);
          console.log("voy a borrar la cuenta ");
          this.IBAN=e.model.__data.item.IBAN;
          var datos= {
            "IBAN" : this.IBAN
          }
          this.$.doDeleteAccount.body = JSON.stringify(datos);
          this.$.doDeleteAccount.generateRequest();
          console.log("Peticion enviadada");


       }

       ErrorResponse(error){
         console.log("Error");
         console.log(error);
       }

       manageAJAXResponse(data){
         console.log("llegamos a los resultados de la api n  22222");
         console.log(data.detail.response);
         console.log("esto era la respuesta")
         //window.location = "cuentas";
       }


      showData (data){
         console.log("showData");
         var datos = [];
         //console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");
         console.log("salida");


         // this.accounts = data.detail.response;

         // datos.push(["IBAN", "balance","MOVS"]);
         // for (var i=0; i<data.detail.response.length; i++) {
         //   console.log(data.detail.response[i].IBAN);
         //   datos.push([data.detail.response[i].IBAN,data.detail.response[i].balance,data.detail.response[i].MOVS]);
         //  }
         // console.log("el array")
         // console.log(datos)
         // this.accounts= datos;
         this.accounts = data.detail.response;
       }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
