<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<link href="../../bower_components/app-menu/app-menu.html" rel="import" />
<link href="../../bower_components/app-menu/app-submenu.html" rel="import" />
<link href="../../bower_components/app-menu/app-menu-icon-item.html" rel="import" />

<link href="../../bower_components/iron-form/iron-form.html" rel="import" />
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">


<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">

<script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script>






<dom-module id="anadir-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
      .center-div
{
     margin: 0 auto;
     width: 100px;
}
    </style>


<iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>


    <!-- <template is="dom-if" if="{{logged}}"> -->




      <div style="width:745px; margin: 0 auto; width: 100 px;" class="center-div"">

    <!-- <input placeholder="first_name" type="text" value={{first_name::input}}></input> <br>
    <input placeholder="last_name" type="text" value="{{last_name::input}}"></input> <br>
    <input placeholder="email" type="email" value="{{email::input}}"></input><br>
    <input placeholder="password" type="password" value="{{password::input}}"></input><br>

    <button on-click="append">append</button> -->

    <paper-input char-counter error-message="{{error_username}}" name="first_name" value="{{first_name::input}}" label="first_name" maxlength="25"
                     required></paper-input>
        <br>
    <paper-input char-counter error-message="{{error_username}}" name="last_name" value="{{last_name::input}}" label="last_name" maxlength="25"
                   required></paper-input>
        <br>
    <paper-input char-counter error-message="{{error_username}}" type="email" name="email" value="{{email::input}}" label="email" maxlength="25"
                     required></paper-input>
        <br>
    <paper-input  auto-validate allowed-pattern="[a-zA-Z]" char-counter error-message="Solo letras, por favor" type="password" name="password" value="{{password::input}}" label="password" maxlength="25"
                     required></paper-input>
        <br>
        Contraseñas solo con letras.
        <br>


            <paper-button raised class="custom indigo" on-click="append"">
                <iron-icon icon="icons:send"></iron-icon>
                Submit
            </paper-button>


    </div>

  <!-- </template> -->

  <!-- <template is="dom-if" if="{{!logged}}">
    por favor, logeate
    {{logged}}

  </template> -->




    <iron-ajax
      id="doAppendUser"
      url="http://127.0.0.1:3000/apitechu/users/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="ErrorResponse"
      >
    </iron-ajax>



    <!-- <iron-ajax
      id="check_login"
      auto
      method="GET"
      url="http://127.0.0.1:3000/apitechu/logged/4"
      handle-as="json"
      on-response="show_login"
      >
    </iron-ajax> -->

    <!-- <iron-ajax
      id="getUserMax"
      auto
      url="http://127.0.0.1:3000/apitechu/users"
      handle-as="json"
      on-response="showData" /> -->


    <iron-ajax
        id="getUser"
        auto
        url="http://127.0.0.1:3000/apitechu/v2/users/{{id}}"
        handle-as="json"
        on-response="usuarioEdit" />



  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AnadirUsuario extends Polymer.Element {
      static get is() { return 'anadir-usuario'; }
      static get properties() {
        return {
          maximo: {
            type:Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: Number
          },
          password: {
            type: String
          },
          logged: {
            type: Boolean

          },
          id: {
            type:String
          }


        };
      }

      usuarioEdit (data ) {
        console.log("he consultado sin saber ;-D");
        console.log("valor de id es ");
        console.log(this.id);
        this.first_name= data.detail.response[0].first_name;
        this.last_name= data.detail.response[0].last_name;
        this.email =  data.detail.response[0].email;

      }

      showData (data){
         console.log("showData");
         var datos = [];
         //console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");

         this.maximo =Math.max.apply(Math, data.detail.response.map(function(o) { return o.id; }));
         console.log("el valor maximo es ");
         console.log(maximo);
        console.log("salida");
      }


      append () {
        console.log("El usuario ha pulsado el botón");

        console.log("inserto" + this.maximo);


        var id_insertar=this.maximo+1;
        console.log("inserto" + id_insertar);
        if (this.id != '') {
          id_insertar=this.id;
        }
        var UserData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "password" : this.password,
          "email" : this.email,
          "id" : id_insertar

        };
        this.$.doAppendUser.body = JSON.stringify(UserData);
        this.$.doAppendUser.generateRequest();
        console.log("Peticion enviadada");

      }

      show_login(data) {

        console.log("logged");
        console.log(data.detail.response);
        this.logged = true;

        console.log(this.logged);
        console.log("resultado");
      }


          manageAJAXResponse(data){
            console.log("llegamos a los resultados de la api n  22222");
            console.log(data.detail.response);
            console.log("esto era la respuesta")
            this.isLogged = true;
            // window.location = "user/" + data.detail.response.idUsuario;
            window.close();

          }

          ErrorResponse(error){
            console.log("Error");
            console.log(error);
          }


    }

    window.customElements.define(AnadirUsuario.is, AnadirUsuario);
  </script>
</dom-module>
