<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link href="../../bower_components/google-apis/google-legacy-loader.html" rel="import" />
<link href="../../bower_components/google-chart/google-chart.html" rel="import" />




<link href="../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html" rel="import" />
<link href="../../bower_components/iron-demo-helpers/demo-snippet.html" rel="import" />
<link href="../../bower_components/iron-icons/iron-icons.html" rel="import" />
<link href="../../bower_components/app-menu-shared-styles.html" rel="import" />

<link href="../../bower_components/app-menu/app-menu.html" rel="import" />
<link href="../../bower_components/app-menu/app-submenu.html" rel="import" />
<link href="../../bower_components/app-menu/app-menu-icon-item.html" rel="import" />


<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">


<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">


<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<dom-module id="visor-usuarios">
  <link rel="import" type="css" href="/static/css/login.css">
  <link rel="import" type="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <template>
    <iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>


    <custom-style>
        <style is="custom-style" include="demo-pages-shared-styles">
        html {
          --app-menu-color: #616161;
          --primary-color: #F62A5A;
          --app-menu-selected-bg-color: rgba(0, 0, 0, 0.05);
        }

        .vertical-section-container {
          max-width: 500px;
        }
        </style>
    </custom-style>


    <style>
      :host {
        display: block;
      }
      th,td {
        border-bottom: 1px solid #ddd;
      }
th {
text-align: right;
}
tr:nth-child(even) {background-color: #f2f2f2;}


tr:hover {background-color: #f5f5f5;}

    </style>





 <template is="dom-if" if="[[!Usuario.logged]]">
  Por favor, logeate
</template>





      <div style="width:1500px; padding:3px;">

      <div style="width:245px; background:#FFCC00; float:left;">

      <app-menu selected="0">
    <app-submenu>
      <div class="app-menu-item" slot="submenu-trigger">
        <app-menu-icon-item icon="icons:account-balance">Operativa clientela</app-menu-icon-item>
        <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
      </div>
      <app-menu slot="submenu-content">
        <a class="app-menu-item" href="/cuentas">Cuentas</a>
        <a class="app-menu-item" href="/stocks">Stocks</a>
      </app-menu>
    </app-submenu>
      <app-submenu>
        <div class="app-menu-item" slot="submenu-trigger">
          <app-menu-icon-item icon="icons:account-balance">Gestion de clientes</app-menu-icon-item>
          <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
        </div>
        <app-menu slot="submenu-content">
          <a class="app-menu-item" href="/users">Clientes</a>
          <a class="app-menu-item" href="/add_user">Crear cliente</a>

        </app-menu>
      </app-submenu>
      <app-submenu>
        <div class="app-menu-item" slot="submenu-trigger">
          <app-menu-icon-item icon="icons:account-balance">Log out</app-menu-icon-item>
          <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
        </div>
        <app-menu slot="submenu-content">
          <a class="app-menu-item" href="/logout">Log out</a>

        </app-menu>
      </app-submenu>

  </app-menu>
  </div>




<template is="dom-if" if="[[Usuario.logged]]">


 <div class="table-responsive"; style="width:845px; float:right;">
     <h2>Hello   [[userid]]  !</h2>



   <h1>Sus cuentas</h1>
<!--
   <google-chart
             type = 'table'
             options = '{"title": "Pie Chart", "vAxis": {"minValue" : 0, "maxValue": 8}}'
             data={{accounts}}
    </google-chart>
    </div>
</div>
<div>




</div>

<div> -->
    <!-- <template is="dom-repeat" items="[[accounts]]">
      <h3>IBAN - {{item.IBAN}}</h3>
      <h3>Saldo - {{item.balance}}</h3>
      <h3>Saldo - {{item.MOVS}}</h3>

    </br>
      </template> -->
<!--
      <paper-datatable-column header="Page" property="page">
          <template>
              <paper-input value="{{accounts}}">
          </template>
      </paper-datatable-column> -->

<table style="width:100%" class="table" >
<a href="/add_user" target="_blank"><img src="/static/append.png" border="0" alt="Link to this page" height="30" width="30"></a>
<tr>
  <th>Numero</th>
  <th>Borrar usuario</th>
  <th>Editar usuario</th>

  <th>Nombre</th>
  <th>Apellido</th>
  <th>email</th>
  <th>contraseña</th>

</tr>
      <template is="dom-repeat" items="{{users}}">
<tr>
    <th>{{item.id}}</th>
    <th><a href="/edit_user/{{item.id}}"><img src="/static/edit-user.png" height="30" width="30"></a></th>

    <th><button  on-click="borrar_usuario" "><img src="/static/minus.png" border="0" alt="Link to this page" height="30" width="30"></button></th>
    <th>{{item.first_name}}</th>
    <th>{{item.last_name}}</th>

    <th>{{item.email}}</th>
    <th>{{item.password}}</th>

</tr>
</template>
</table>

</template>

</div>
<!-- </template> -->




    <iron-ajax
      id="getUser"
      auto
      url="http://127.0.0.1:3000/apitechu/users"
      handle-as="json"
      on-response="showData" />


      <iron-ajax
        id="doDeleteUser"
        url="http://127.0.0.1:3000/apitechu/users/{{userid}}"
        handle-as="json"
        content-type="application/json"
        method="DEL"
        on-response="manageAJAXResponse"
        on-error="ErrorResponse"
        >
      </iron-ajax>


  </template>

  <script>





    /**
     * @customElement
     * @polymer
     */
    class VisorUsuarios extends Polymer.Element {
      static get is() { return 'visor-usuarios'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          users: {
            type: Array,
            items: {
              type:Object,
              properties: {
                email: {
                  type: String
                },
                passsword:{
                  type:String
                },
                first_name:{
                  type:String
                },
                last_name:{
                  type:String
                },
                id:{
                  type:Number
                }

              }


            }
          }
        };
      }



      borrar_usuario(e){
        console.log(e.model.__data.item.id)
        console.log("voy a borrar usuario ")
        this.userid=e.model.__data.item.id
        this.$.doDeleteUser.body = JSON.stringify(this.userid);
        this.$.doDeleteUser.generateRequest();
        console.log("Peticion enviadada");
      }

      ErrorResponse(error){
        console.log("Error");
        console.log(error);
      }

      showData (data){
         console.log("showData");
         var datos = [];
         //console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");
         console.log("salida");


         // this.accounts = data.detail.response;

         // datos.push(["IBAN", "balance","MOVS"]);
         // for (var i=0; i<data.detail.response.length; i++) {
         //   console.log(data.detail.response[i].IBAN);
         //   datos.push([data.detail.response[i].IBAN,data.detail.response[i].balance,data.detail.response[i].MOVS]);
         //  }
         // console.log("el array")
         // console.log(datos)
         // this.accounts= datos;
         this.users = data.detail.response;
       }

    }

    window.customElements.define(VisorUsuarios.is, VisorUsuarios);
  </script>
</dom-module>
