<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">


<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]   [[first_name]]    [[last_name]] !</h2>
    <h2> y tengo [[age]] años </h2>

    <input type="text" value="{{first_name::input}}" />
    <input type="range"  min="18" value="{{age::input}}" max="99" />


    <iron-ajax
      id="getUser"
      auto
      url="http://127.0.0.1:3000/apitechu/v2/users/4"
      handle-as="json"
      on-response="showData" />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
            value: 'frontproyecto-app ejejeje'
          },
          first_name: {
            type: String,
            value: 'Sergio'
          },
          last_name: {
            type: String,
            value: 'Iglesias'
          },
          id: {
            type: Number
          }
        };
      }
      showData (data){
         console.log("showData");
         console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");
         console.log(data.detail.response.first_name);
         console.log("salida");
         this.first_name = data.detail.response[0].first_name;
         this.last_name  = data.detail.response[0].last_name;
         this.email = data.detail.response[0].email;
         this.id = data.detail.response[0].id;
       }

    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
