<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../emisor-evento/emisor-evento.html">
<link rel="import" href="../receptor-evento/receptor-evento.html">


<dom-module id="gestor-evento">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h1>GEstorr</h1>
    <emisor-evento on-myevent="processEvent"></emisor-evento>
    <receptor-evento id="receiver"></receptor-evento>

    <!-- <button on-click="sendEvent">No pulsar</button>
 -->

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class GestorEvento extends Polymer.Element {
      static get is() { return 'gestor-evento'; }
      static get properties() {
        return {
        };
      }

      sendEvent(e) {
        console.log(e);
        console.log("Se ha pulsado el botón");
        this.dispatchEvent(
          new CustomEvent (
            "myevent",
            {
              "detail" : {
                "course" : "TechU",
                "year" : 2018
              }
            }
          )
        )
      }

      processEvent(e) {
        console.log(e);
        console.log("Evento capturado del emisor");
        console.log(e.detail);
        this.$.receiver.course=e.detail.course;
        this.$.receiver.year=e.detail.year;
      }
    }

    window.customElements.define(GestorEvento.is, GestorEvento);
  </script>
</dom-module>
