<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-if.html">

<link href="../../bower_components/app-menu/app-menu.html" rel="import" />
<link href="../../bower_components/app-menu/app-submenu.html" rel="import" />
<link href="../../bower_components/app-menu/app-menu-icon-item.html" rel="import" />


<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">





<dom-module id="anadir-movimiento">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>


<iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>


    <template is="dom-if" if="{{logged}}">

      hola estoy dentro



      <div style="width:545px; margin: auto;">

    <input placeholder="IBAN" type="text" value={{IBAN}}></input> <br>
    <input placeholder="id" type="text" value="{{id}}"></input> <br>
    <input placeholder="accion" type="text" value="{{accion}}"></input><br>
    <input placeholder="balance" type="number" value={{balance::input}}></input><br>
    <button on-click="append">append</button>

    </div>

  </template>

  <template is="dom-if" if="{{!logged}}">
    por favor, logeate
    {{logged}}

  </template>




    <iron-ajax
      id="doAppend"
      url="http://127.0.0.1:3000/apitechu/accounts/"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="ErrorResponse"
      >
    </iron-ajax>



    <iron-ajax
      id="check_login"
      auto
      method="GET"
      url="http://127.0.0.1:3000/apitechu/logged/4"
      handle-as="json"
      on-response="show_login"
      >
    </iron-ajax>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class AnadirMovimiento extends Polymer.Element {
      static get is() { return 'anadir-movimiento'; }
      static get properties() {
        return {
          IBAN: {
            type: String
          },
          balance: {
            type: String
          },
          userid: {
            type: Number
          },
          accion: {
            type: String
          },
          logged: {
            type: Boolean

          },


        };
      }


      append () {
        console.log("El usuario ha pulsado el botón");
        console.log (this.IBAN);
        console.log (this.balance);

        var ingreso = this.balance;

        if (this.accion == 'retirada')
          ingreso = -Math.abs(ingreso);
        var loginData = {
          "IBAN" : this.IBAN,
          "balance" : ingreso,
          "userid" : this.id

        };
        this.$.doAppend.body = JSON.stringify(loginData);
        this.$.doAppend.generateRequest();
        console.log("Peticion enviadada");

      }

      show_login(data) {

        console.log("logged");
        console.log(data.detail.response)
        this.logged = true;

        console.log(this.logged)
        console.log("resultado")
      }


          manageAJAXResponse(data){
            console.log("llegamos a los resultados de la api n  22222");
            console.log(data.detail.response);
            console.log("esto era la respuesta")
            this.isLogged = true;
            // window.location = "user/" + data.detail.response.idUsuario;
            window.close();

          }

          ErrorResponse(error){
            console.log("Error");
            console.log(error);
          }


    }

    window.customElements.define(AnadirMovimiento.is, AnadirMovimiento);
  </script>
</dom-module>
