<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello   [[userid]]  !</h2>





    <h1>Sus cuentas</h1>

    {{accounts}}


    <template is="dom-repeat" items="[[accounts]]">
      <h3>IBAN - {{item.IBAN}}</h3>
      <h3>Saldo - {{item.balance}}</h3>
    </br>
    </template>

    <iron-ajax
      id="getUser"
      auto
      url="http://127.0.0.1:3000/apitechu/v2/accounts/4"
      handle-as="json"
      on-response="showData" />


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          userid: {
            type: Number
          },
          accounts: {
            type: Array,
            items: {
              type:Object,
              properties: {
                IBAN: {
                  type: String
                },
                balance:{
                  type:String
                }
              }


            }
          }
        };
      }
      showData (data){
         console.log("showData");
         //console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");
         console.log("salida");


         this.accounts = data.detail.response;
       }

    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
