<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<link href="../../bower_components/google-apis/google-legacy-loader.html" rel="import" />
<link href="../../bower_components/google-chart/google-chart.html" rel="import" />




<link href="../../bower_components/iron-demo-helpers/demo-pages-shared-styles.html" rel="import" />
<link href="../../bower_components/iron-demo-helpers/demo-snippet.html" rel="import" />
<link href="../../bower_components/iron-icon/iron-icons.html" rel="import" />
<link href="../../bower_components/app-menu-shared-styles.html" rel="import" />

<link href="../../bower_components/app-menu/app-menu.html" rel="import" />
<link href="../../bower_components/app-menu/app-submenu.html" rel="import" />
<link href="../../bower_components/app-menu/app-menu-icon-item.html" rel="import" />



<link rel="import" href="../../bower_components/brum-global-variable/brum-global-variable.html">




<link rel="import" href="../../bower_components/paper-datatable/paper-datatable.html">
<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">








<!-- <script src="../../bower_components/webcomponentsjs/webcomponents-lite.js"></script> -->
<!-- <link rel="import" href="../../bower_components/highcharts-chart/highcharts-chart.html"> -->

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>






<dom-module id="visor-stocks">
  <!-- <link rel="import" type="css" href="/static/css/menu.css"> -->
  <link rel="import" type="css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


  <template>
    <brum-global-variable key="userData" value="{{Usuario}}"></brum-global-variable>
    <iron-localstorage name="user-storage" value="{{Usuario}}"></iron-localstorage>


    <custom-style>
        <style is="custom-style" >
          .app-menu-item {
      cursor: pointer;
      text-decoration: none;
      color: var(--app-menu-color, var(--primary-text-color));
      transition: color 0.4s ease-out;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      font-size: 10px;
      font-weight: 500;
      line-height: 24px;
      min-height: 48px;
      padding: 0 24px;
    }

        html {
          --app-menu-color: #616161;
          --primary-color: #F62A5A;
          --app-menu-selected-bg-color: rgba(0, 0, 0, 0.05);
        }

        .vertical-section-container {
          max-width: 500px;
        }
        </style>
    </custom-style>


    <style>
      :host {
        display: block;
      }


      google-chart {
        height: 300px;
        width: 350px;
      }
      th,td {
        border-bottom: 1px solid #ddd;
      }
th {
text-align: right;
font-size: 100%;
}
tr:nth-child(even) {background-color: #f2f2f2;}


tr:hover {background-color: #7baaf7;}

    </style>




    <template is="dom-if" if="[[Usuario.logged]]">


<!-- Viendo datos globales




<template is="dom-if" if="[[!Usuario.logged]]">
  Por favor, logeate
</template>


 <template is="dom-if" if="[[Usuario.logged]]"> -->

 <div style="width:1350px;">

  <div style="width:200px; background:#FFCC00; float:left;style="font-size:10px">


  <app-menu selected="0">
<app-submenu>
  <div class="app-menu-item" slot="submenu-trigger">
    <app-menu-icon-item icon="icons:account-balance">Operativa clientela</app-menu-icon-item>
    <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
  </div>
  <app-menu slot="submenu-content">
    <a class="app-menu-item" href="/cuentas">Cuentas</a>
    <a class="app-menu-item" href="/stocks">Stocks</a>
  </app-menu>
</app-submenu>
  <app-submenu>
    <div class="app-menu-item" slot="submenu-trigger">
      <app-menu-icon-item icon="icons:account-balance">Gestion de clientes</app-menu-icon-item>
      <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
    </div>
    <app-menu slot="submenu-content">
      <a class="app-menu-item" href="/users">Clientes</a>
      <a class="app-menu-item" href="/add_user">Crear cliente</a>

    </app-menu>
  </app-submenu>
  <app-submenu>
    <div class="app-menu-item" slot="submenu-trigger">
      <app-menu-icon-item icon="icons:account-balance">Log out</app-menu-icon-item>
      <iron-icon icon="expand-more" class="expand-icon"></iron-icon>
    </div>
    <app-menu slot="submenu-content">
      <a class="app-menu-item" href="/logout">Log out</a>

    </app-menu>
  </app-submenu>

</app-menu>
</div>





  <!--    <google-chart
    type="table"
    options='{"title": "Inventory", "page": "enable", "pageSize": 4}'
    data=[[accounts]]
           </google-chart>



 <div class="table-responsive"; style="width:845px; float:right;">
   <h2>Hello   [[userid]]  !</h2>


   <h1>Sus cuentas</h1>

   <google-chart
             type = 'table'
             options = '{"title": "Pie Chart", "vAxis": {"minValue" : 0, "maxValue": 8}}'
             data={{accounts}}
    </google-chart>
    </div>
<!--</div>
<div>




</div>

<div> -->
    <!-- <template is="dom-repeat" items="[[accounts]]">
      <h3>IBAN - {{item.IBAN}}</h3>
      <h3>Saldo - {{item.balance}}</h3>
      <h3>Saldo - {{item.MOVS}}</h3>

    </br>
      </template> -->

      <!-- <paper-datatable-column header="Page" property="page">
          <template>
              <paper-input value="{{accounts}}">
          </template>
      </paper-datatable-column>  -->




<div style="width:500px;  height: 400px; background:#b7e1cd;overflow: auto; float: right">




<table style="width:100%" class="table"  >
<tr>
  <th>Numero</th>

  <th>Visualizar seguimiento</th>
  <th>Nombre</th>
  <th>simbolo</th>
  <th># de acciones</th>

</tr>
      <template is="dom-repeat" items="{{stocks}}">
<tr>

    <th># [[index]]</th>
    <th><button  on-click="Visualizar" "><img src="/static/minus.png" border="0" alt="Link to this page" height="20" width="20"></button></th>

    <th>{{item.stock_name}} € </th>
    <th>{{item.stock_symbol}}</th>
    <th>{{item.stock_numbers}}</th>


    </tr>
    </template>
</table>

</div>

<div>
<div style="width:100px;  height: 400px;  float:left ">
<google-chart
  type="pie"
  options='{"title": "Inventory", "page": "enable", "pageSize": 4}'
  data={{inventario}}
</google-chart>
</div>




<div style="width:100px; height: 350px; margin-left:200px; float: left " >
  <google-chart
    type="line"
    options='{"title": "Evolución Bolsa", "page": "enable", "pageSize": 8}'
    data={{line}}
  </google-chart>
</div>
</div>
</template>




    <iron-ajax
      id="getStocks"
      auto
      url="http://127.0.0.1:3000/apitechu/stocks/[[Usuario.userid]]"
      handle-as="json"
      on-response="showData" />




      <iron-ajax
        id="OneStock"
        method="GET"
        url="https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol={{stock_symbol}}&apikey=8HLO2RLZHD11GFPF"
        handle-as="json"
        on-response="showOneline" />


  </template>

  <script>





    /**
     * @customElement
     * @polymer
     */
    class VisorStocks extends Polymer.Element {
      static get is() { return 'visor-stocks'; }
      static get properties() {
        return {
          stock_symbol: {
            type:String
          },
          line: {
            type:Array
          },
          inventario: {
            type:Array
          },
          userid: {
            type: Number
          },
          stocks: {
            type: Array,
            items: {
              type:Object,
              properties: {
                stock_name: {
                  type: String
                },
                stock_numbers:{
                  type:Number
                },
                stock_symbol:{
                  type:String
                }
              }


            }
          },
          Usuario: {
            type: Array,
            items: {
              type:Object,
              properties: {
                email: {
                  type: String
                },
                passsword:{
                  type:String
                },
                first_name:{
                  type:String
                },
                last_name:{
                  type:String
                },
                logged:{
                  type:Boolean
                }

              }


            }
          }
        };
      }
      showData (data){
         console.log("showData");
         var datos = [];
         //console.log(data.detail);
         console.log(data.detail.response);
         console.log("tengo los datos");
         console.log("salida");

         var limit =100;
         // this.accounts = data.detail.response;
         var inventario=[];
         inventario.push(["stock_name", "stock_numbers"]);
         for (var i=0; i<data.detail.response.length; i++) {
            //console.log(data.detail.response[i].stock_name);
            inventario.push([data.detail.response[i].stock_name,data.detail.response[i].stock_numbers]);
           }
         // console.log("el array")
         // console.log(datos)
         // this.accounts= datos;
         this.inventario = inventario;
         this.stocks= data.detail.response.slice(0, limit);;
       }

       Visualizar(e) {
         //console.log(e);
         console.log(e.model.__data.item.stock_symbol);
         //this.$.OneStock.body = JSON.stringify(this.userid);
         this.stock_symbol=e.model.__data.item.stock_symbol;
         this.$.OneStock.generateRequest();
         console.log("Peticion enviadada");

       }

       showOneline (data){
          console.log("Show One line");
          var datos = [];
          //console.log(data.detail);
          datos.push(["Date", "Close"]);
          console.log(data.detail.response);
          console.log("tengo los datos de la serie");
          console.log(Object.keys(data.detail.response));
          Object.keys(data.detail.response["Monthly Time Series"]).forEach(function(key) {
            console.log(key + ': ' + data.detail.response["Monthly Time Series"][key]);
            var llave = key;
            var temp=data.detail.response["Monthly Time Series"][key];
            console.log(temp.open)
            Object.keys(temp).forEach(function(key) {
              console.log("-"+llave+"-" + temp["4. close"]);
              datos.push([new Date(llave), parseInt(temp["4. close"])]);
            });
            });
          console.log(datos);
          console.log(Object.keys(data.detail.response));

          this.line = datos;
        }

    }

    window.customElements.define(VisorStocks.is, VisorStocks);
  </script>
</dom-module>
